$icon-font-path: '../fonts/';

@media only screen and (min-width:1200px) {

	.pagewrap {
		width: 990px;
		margin: 0 auto;
	}

	.header{
		margin-bottom: 0;
		width: 100%;

		.navbar-nav {
			display: block;
		}

		.navbar-top-nav-left {
			width: 41%;
		}

		.navbar-top-nav-right {
			width: 39%;
		}

		.navbar-nav-left {
			width: 38%;
		}

		.navbar-nav-right {
			width: 38%;
		}

		.navbar-button-mob {
			display: none;
		}	

		.navbar-default-top {			    
		    border-bottom: 1px solid #ebebeb;
		}

		.drop-navbar {
			display: block;
		}

	}

	


/*----------------------------------------------interview-------------------------------------*/

	.interview-page {
		

		.page-mobile-wrap {
     	 width: 990px;
    	}

		.main-page-wrap {
			max-width: 990px;
			margin: 30px auto 0;
		}	

		.page-head-block {

			.head {
				font-size: 66px;
			}

			.text-block {
				bottom: 65px;
			}

		}

		.article-wrap {
    	//max-width: 780px;    
  	} 

		.article-flex-wrap	{
			flex-direction: row;
    		//max-width: 1075px;
    		width: calc(100% - 360px);
    		padding: 0;
			order: 1;
  		}
		

		.article-description {
			font-size: 24px;
		}

		.sidebar {
			display: block;
			width: 300px;
			order: 1;
			margin-left: 30px;
			flex-direction:row;
			padding: 0;

			.autor-name {
			margin-bottom: 10px;
			}

				.sidebar-blurb-block {
		      margin: 10px 0;
		      text-align: center;

	      &:first-child {
	      margin-top: 0;
	      }

	      &:last-child {
	        margin-bottom: 0;
	      }

    	}

    	 .sidebar-article-block {
	    	padding: 10px 25px;

		    &:first-child {
		      padding-top: 0;
		    }

		    &:last-child {
		      padding-bottom: 0;
		    }

	  	}

		}

		.mobile-block-wrap {
			display: flex;
			flex-direction:column;
		}

		.article-column {
	    
  	}

  	.article-left-column {
  		margin: 0 auto 0 0;
  	}

  	.article {  		
			margin-top: 20px;
  	}

  	.article-img-wrap {
    	margin: 20px 20px 20px -55px;
    }

    .info-block {
    	margin: 20px 20px 20px -55px;
    } 

		.img-description {
			margin-left: 0;
		}

		.sidebar-autor-block {
			display: block;

			.article-announcement-block {
			margin-bottom: 15px;
			}

		}				

		.article-announcement-text {
			display: inline-block;
		}

		.autor-desctiption {
			display: block;
		}

		
		.sidebar-autor-block {
			margin-bottom: 20px;

			.article-announcement-photo {
				width: 84px;
				height: 84px;
			}

		}

		.sidebar-blurb-block {
			display: block;
			order: 0;
		}

		.sidebar-article-block {
			display: block;
		}

		.sidebar-news-block {
    		display: block;
  		}
		

	}  	  

}