$icon-font-path: '../fonts/';

@media only screen and (min-width:768px) {

	.header {
		width: 630px;
		margin: 0 auto;
		
	}

	.pagewrap {
	width: 660px;	

		.content-wrap {
		     width: 100%;
		      margin: 0 auto;
  	}		

	}	

	.header {
	margin-bottom: 37px;
	}

	.navbar-button-mob{
	display: block;
	}	

  .navbar-nav {
  	display: none;
  	}

  	.drop-navbar {
  	display: none;
  	}

  	.content-block-column {
  		width: 100%;  		
  	}

   .footer {

  	.mobile-flex-wrap-top {
	  display: flex;	    
	  width: 100%;

		  .net-block {
	    justify-content:center;	      
	    }

  	} 

  	.mobile-flex-wrap-bottom {
    display: flex;   
    width: 100%;
    margin-top:50px;
  	}   

  }	

  	.footer-flex-block {
    flex-direction: column;
  }

  .footer-logo-block {
		margin-left: 0;
  }
  

	.footer-copyright-wrap {
	display: flex;
	justify-content: center;
	flex-direction: column;	
	}

	.copyright {
	margin-left: 0;	
	margin: 30px auto 0;
	}

	.footer-form-wrap,
  	.footer-about-us-text,
  	.footer-logo,
  	.footer-about-us-link {
    text-align: center;
  } 

  .block-1 {
		order:0;
	}

	.block-2 {
		order:1;
	}

	.block-3 {
		order:2;
	}

	.block-4 {
		order:3;
	}

	.block-5 {
		order:5;
	}

	.block-6 {
		order:4;
	}

	.block-7 {
		order:6;
	}

	.block-8 {
		order:7;
	}

	.block-9 {
		order:8;
	}

	.block-10 {
		order:9;
	}

	.block-11 {
		order:12;
	}

	.block-12 {
		order:10;
	}

	.block-13 {
		order:11;
	}

	.block-14 {
		order:13;
	}

	.block-15 {
		order:14;
	}

	.block-16 {
		order:15;
	}

	.block-17 {
		order:16;
	}

	.block-18 {
		order:17;
	}

	.block-19 {
		order:18;
	}

	.block-20 {
		order:19;
	}

	.block-21 {
		order:20;
	}

	.block-22 {
		order:21;
	}

	.block-23 {
		order:22;
	}

	.block-24 {
		order:23;
	}

	.block-25 {
		order:24;
	}

	.block-26 {
		order:25;
	}

	.block-27 {
		order:26;
	}

	.block-28 {
		order:27;
	}

	.block-29 {
		order:28;
	}

	.block-30 {
		order:29;
	}

	.block-31 {
		order:30;
	}



/*----------------------------------------------interview-------------------------------------*/

	.interview-page {

			.article-img-wrap {
		    margin: 20px 20px 20px -55px;
		    float: left;
		    max-width: 410px;

	    img {
	      width: 100%;
	    }

	  }

		.page-mobile-wrap {
			width: 100%;
		}

		.article-flex-wrap {
			flex-direction: column;
			width: 100%;
			padding: 0 15px;
			order: 1;
		}

		.article-slider-wrap {
			order: 1;
		}

		.net-wrap {
			order: 3;
		}

		.blurb {
			order: 3;
		}

		.login-comment-wrap {
			order: 3;
		}

		.article-wrap {
    	//max-width: 655px;    
  	} 

  	.sidebar {
    	max-width: 655px;
    	margin: 0 auto;
    	flex-direction:column;    
  	}   

		.article {
			margin-top: 20px;
		}

		.article-img-wrap {
    	margin: 20px 20px 20px 0;
    }

    .info-block {
    	margin: 20px 20px 20px 0;
    } 

		.statistic-top-block {
      border-top: 1px solid #ebebeb;
      padding: 10px 0;

    }

    .net-block {
      margin-top:0;
    }

		.page-head-block {

			.head {
				font-size: 66px;
			}

			.text-block {
				bottom: 30px;
			}

		}

		.article-column {			
			width: 100%;
		}

		 .article {

      .content-block-column {

        a {
        font-size: 22px;
        }

        .heading {
          font-size: 12px;
        }

        .autor-name {
          font-size: 14px;
        }

        .article-announcement-text {
        	font-size: 16px;

        }

      }

    }

		.sidebar {			
			width: 100%;
			order: 2;
			

			.autor-name {
			margin: auto;
			margin-bottom: auto;
			}

		}

		.sidebar-autor-block {
			display: flex;
			justify-content: space-between;
			margin-bottom: 20px;

			.article-announcement-photo {
				width: 64px;
				height: 64px;
			}	

			.article-announcement-block {
			margin-bottom: 0;
		}			

		}		

		.mobile-block-wrap {
			display: flex;
			justify-content: space-between;
			//margin-top: 30px;
			flex-wrap: wrap;
		}

		.img-description {
			margin-left: 10px;
		}		

		.article-announcement-text {
      		display: flex;
        	
    }

		.autor-desctiption {
			display: none;
		}

		.autor-name {
			margin: auto;
			//margin-bottom: 0;
		}

		.sidebar-blurb-block {
			margin: 10px;
			order: 2;
		}

		.sidebar-article-block {
			width: 100%;
			
			.sidebar-article-wrap {

				&:last-child {
					border-bottom: none;
				}

			}

		}

	}

	.article-description {
		font-size: 18px;
	}

	.article-text {
		font-size: 16px;
	}

	.autor-text {
		font-size: 18px;
	}	


	/*--------------------------------------------------------article----------------------------------------------------------*/

	.article-page {

    .page-heading {
        font-size: 46px;
     }

  }

/*---------------------------------------------------------autor--------------------------------------------------------------*/

.autor-page {

	.border-block {
    border-top: 1px solid #ebebeb;
    border-bottom: none;    
   }		

		.autor-top-block {
    display: flex;
    flex-direction: column;    
    position: relative;
		}

		.autor-img-block {
			position: static;
			margin: 0 auto;
		}

		.autor-description-wrap {
			width: 100%;
			text-align: center;
		}

		.autor-description {
			display: block;
		}

	}	

	/*----------------------------------------------------------card----------------------------------------------------*/

	 .card-page {

		.article-flex-wrap {
			padding: 0 35px

		}

		.sidebar-autor-block {
	    display: flex;
	    justify-content: space-around;
	    width: 100%;
		}

	 }

	/*-------------------------------------------------------card1-----------------------------------------------------------*/

  .card1-page {

  	.card-img-description-block {   
      flex-direction: row;      
    } 

    .article-flex-wrap {
      padding: 0 65px;
    }

    .image-number {	        
	    font-size: 131px;	    
	  }   

    .image-number-border-1 {
    background: url(../images/icon-border-1.png) no-repeat;
    width: 210px;
    height: 194px;   
    margin-top: -97px;   
    margin-left: -105px;    
  	}

  .image-number-border-2 {
    background: url(../images/icon-border-2.png) no-repeat;
    width: 197px;
    height: 212px;   
    margin-top: -99px;    
    margin-left: -106px;
  	}

  .image-number-border-3 {
    background: url(../images/icon-border-3.png) no-repeat;
    width: 197px;
    height: 192px;   
    margin-top: -99px;    
    margin-left: -96px;
  	}

  .image-number-border-4 {
    background: url(../images/icon-border-4.png) no-repeat;
    width: 197px;
    height: 212px;   
    margin-top: -99px;    
    margin-left: -106px;
  	}

   .image-number-border-5 {
    background: url(../images/icon-border-5.png) no-repeat;
    width: 190px;
    height: 189px;   
    margin-top: -95px;    
    margin-left: -95px;
  	}

  } 

  /*-----------------------------------------------------longrid-----------------------------------------------------*/

	.longrid-page {
		
		.article-image-block-flex {  
    justify-content: center; 

  	} 

  	.quote-autor-wrap {
  		justify-content: space-between;
  		margin: 20px auto;
  	}

  	.autor-block-left {
      position: static;
    }

    .quote-autor-block {
      width: 65%;
    }

    .article-image-block {
    	order: 1;
    }

	}

/*---------------------------------------------------------special-----------------------------------------------------------*/

    .special-page {
      
      .article-right-column {
       order: 3;

      .img-wrap {
        margin: 10px auto;
      }

    }

  } 

  /*------------------------------------------search-------------------------------------------------------------------*/
  .search-page {

    .article-column {
      padding: 0 20px;
    }

  }

  /*-----------------------------------------------------------special----------------------------------------------*/

	.special-page {

		.article-right-column {
			float: right;
			padding: 15px 0 15px 15px;
		}

	}   


  /*--------------------------------------------------------error------------------------------------------------*/      

  .error-page {

    .error-page-wrap {
      padding: 0 15px;
    }

  }

}